/* Apply a natural box layout model to all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: "Roboto", system-ui;
  font-weight: 300;
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  padding: 1rem;
}

/* Container */
#form {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Header styles */
header {
  background-color: #421a3f;
  color: #fff;
  padding: 1.5rem 2rem;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2rem;
  font-weight: 600;
}

/* Form Styles */
.form-wrapper,
.thanks {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: auto;
}

/* Form headings */
.form-wrapper h2 {
  font-size: 1.75rem;
  color: #1a1a1a;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Form field styles */
.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 1rem;
  color: #555;
}

fieldset {
  padding: .8rem;
}

fieldset:nth-child(1) {
  margin-bottom: 1rem;
}

fieldset {
  border-radius: 6px;
}

legend,
label {
  font-weight: bold;
}

legend {
  font-size: 1.3rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  border-color: #1a1a1a;
  box-shadow: 0 0 5px rgba(26, 26, 26, 0.2);
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: .5rem;
}

.star-rating {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  position: relative;
}

.star-rating input {
  display: none;
}

.star-rating label {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #e0e0e0;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  vertical-align: middle;
  margin: 0;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffd700;
}

.star-rating input:checked ~ label {
  color: #ffba00;
}

.star-rating input:checked + label:hover {
  transform: scale(1.2);
}

.star-rating label::before {
  content: '\2605';
}

textarea {
  resize: none;
}

/* Button Styles */
.btn-submit {
  margin: 0 auto;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0028aa;
}

.rating-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.thanks-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

#reviewCount {
  font-weight: 400;
  font-size: 2rem;
}

.thanks-wrapper p {
  text-align: center;
  display: block;
  font-weight: 600;
  font-size: 3rem;
}

footer {
  background-color: #421a3f;
  color: #fff;
  padding: 1.5rem 2rem;
  text-align: center;
  border-radius: 8px;
  margin-top: 2rem;
}